@font-face{
  font-family: 'Silkscreen';
  src: local('Silkscreen'), url(./multimedia/fonts/silkscreen/slkscr.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');


.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #2E132C
}

html, body, #root, .App {
  height: 100%;
}
button{
  cursor: pointer;
}

/* Es la seccion de Sign In  */

/* signin hace referencia a toda la pagina */
.signin{
  width: 100%;
  background-color: #2E132C;
  text-align: left;
  color: #FFFF;
  font-family: Silkscreen;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
/* Left Side of Sign In Page */
.logo{
  height: 342px;
  width: 526px;
  left: 97px;
  padding-top: 200px;
  border-radius: 0px;
}

/* Right Side of Sign In Page */
.rightsigninmaxwidth{
  width: 433px;
  padding-top: 35%;
}
.h1signin{
  font-family: Silkscreen;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;
}
.h2signin{
  font-size: medium;
}
.button{
  display: flex;
  padding-top: 8%;
}
.btngoogle{
  display: inline;
  width: 385px;
  height: 58px;
  background-color: #4285F4;
}
.textobtnsignin{
  color: white;
  font-weight: bold;
  font-size: small;
}
.google{
  width: 58px;
  height: 56px;
  background-color: white;
}
.copyright{
  color: #60265B;
  padding-top: 30%;
}
.spanred{
  color: red;
}

/* Es la seccion de REGISTRO  */
.rightregistrermaxwidth{
  width: 433px;
  padding-top: 15%;
}

.textarea{
  background-color: #150714;
  color: #914D8B;
}
.colores{
  display: flex;
}
.cuadrado, .cuadrado1, .cuadrado2, .cuadrado3, .cuadrado4, .cuadrado5{
  width: 58px;
  height: 58px;
  border: 5px;
  margin-right: 4px;
}

.cuadrado{
  background-color: #F50D5A;
}
.cuadrado1{
  background-color: #FF865C;
}
.cuadrado2{
  background-color: #FFEA5C;
}
.cuadrado3{
  background-color: #00DA76;
}
.cuadrado4{
  background-color: #0096CE;
}
.cuadrado5{
  background-color: #800FFF;
}
.btnregistrer{
  width: 90%;
  height: 67px;
  background-color: #00DA76;
}
.textobtnregistrer{
  font-family: 'Silkscreen';
  font-size: 24px;
}

/* HOME */
.home{
  background-color: #2E132C;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

/* SECCION DE CREACION DE TWEET */
.createtweet{
  background-color: #150714;
  color: #FFFFFF;
  height: 250px;
  width: 100%;
}
.block{
  cursor: not-allowed;
  color: rgb(204, 186, 186);
}
textarea{
  margin-top: 2%;
  margin-bottom: 20px;
  background-color: #2F112D;
  color: #FFFFFF;
  font-family: 'Fira Code', monospace;
  height: 130px;
  width: 50%;
  border: none;
  
}
.textarea{
  display: flex;
  flex-direction: column;
  align-items: center;
}
progress{
  background: #00DA76;
  animation-timing-function: ease;
}



/* SECCION DE TWEETS */
.tweet{
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.profile{
  border-radius: 50%;
  width: 60px;
  height: 60px;

}
.continfo{
  width: 90%;
  margin-bottom: 0%;
}
.username{
  background-color: crimson;
  border-radius: 0px 8px  0px 8px;
}
.tweetheader, .tweetheaderleftside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tweetheaderleftside{
  margin-left: -50px;
}

.tweetText{
  padding-left: 70px;
  min-height: max-content;
  font-family: Silkscreen;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;
  width: 324px;
  height: 101px;
}
.fav, .bin{
  background-color: none;
  background-image: none;
  background: none;
  color: #FFFFFF;
  border: none;
}
.fav{
  display: flex;
  padding-left: 70px;
}
.bin{
  width: 28px;
}