@font-face{
  font-family: 'Silkscreen';
  src: local('Silkscreen'), url(./multimedia/fonts/silkscreen/slkscr.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');



html, body, #root, .App, .main, Main {
  height: 100%;
  background-color: #150714;
}

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #2E132C;
  color: wheat;
}

button{
  cursor: pointer;
}

/* Es la seccion de Sign In  */

/* signin hace referencia a toda la pagina */
.signin{
  width: 100%;
  background-color: #2E132C;
  text-align: left;
  color: #FFFF;
  font-family: Silkscreen;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
/* Left Side of Sign In Page */
.logo, .logo-inicio{
  height: 342px;
  width: 526px;
  left: 97px;
  padding-top: 200px;
  border-radius: 0px;
}
.logo-inicio{
  padding-top:30%;
}

/* Right Side of Sign In Page */
.rightsigninmaxwidth{
  width: 433px;
  padding-top: 35%;
}
.h1signin{
  font-family: Silkscreen;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;
}
.h2signin{
  font-size: medium;
}
.button{
  display: flex;
  padding-top: 8%;
}
.btngoogle{
  display: inline;
  width: 385px;
  height: 58px;
  background-color: #4285F4;
}
.textobtnsignin{
  color: white;
  font-weight: bold;
  font-size: small;
}
.google{
  width: 58px;
  height: 56px;
  background-color: white;
}
.copyright{
  color: #60265B;
  padding-top: 30%;
}
.spanred{
  color: red;
}



/* Es la seccion de REGISTRO  */
.registrer{
  background-color: #2E132C;
}

.login-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.logo-container,
.section-credentials {
  width: 50%;
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  width: 70%;
  margin-top: -20%;
}

.section-credentials,
.container-contain {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-contain{
  padding-top: 12%;
  width: 50%;
}

.favorite-color {
  align-items: flex-start;
  width: 50%;
}

.welcome-text,
.welcome-text span {
  font-family: Silkscreen;
  font-size: 50px;
  font-weight: 700;
}

.welcome-text {
  width: 100%;
  color: white;
}
.welcome-text span {
  color: #f50d5a;
  letter-spacing: -0.333333px;
}

.type-username {
  background-color: #150714;
  border: none;
  color: #914d8b;
  height: 40px;
  letter-spacing: -0.333333px;
  margin: 15px 0;
  outline: none;
  padding-left: 15px;
  width: 100%;
}

.type-username::placeholder {
  color: #914d8b;
}

.text-favorite-color {
  margin-top: 0px;
  margin-bottom: 30px;
  color: white;
}

.container-colors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  margin: 4px 0;
  cursor: pointer;
  height: 37px;
  width: 37px;
}

.box:hover {
  outline: #ffff 4px solid;
}
.box:active {
  outline: rgb(212, 211, 211) 4px solid;
}

.red {
  background-color: #f50d5a;
}
.orange {
  background-color: #ff865c;
}
.yellow {
  background-color: #ffea5c;
}
.green {
  background-color: #00da76;
}
.blue {
  background-color: #0096ce;
}
.purple {
  background-color: #800fff;
}

.button-continue {
  background-color: #00da76;
  border: none;
  cursor: pointer;
  font-family: Silkscreen;
  font-weight: 700;
  font-size: 16px;
  height: 35px;
  line-height: 24px;
  margin-top: 25px;
  letter-spacing: -0.333333px;
  width: 100%;
  transition: 0.4s ease;
}
.button-continue:disabled {
  background-color: #1c774c;
  cursor: initial;
  transition: 0.4s ease;
}
.text-footer-registrer{
  color: white;
  width: 50%;
  font-family: 'Silkscreen';
}
.redfooter{
  color: red;
  
}
/* ========================================================== */

@media screen and (max-width: 900px) {
  .signin, .leftsidesignin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;

  }
  .leftsidesignin{
    margin-top: -50px;
    width: 80%;
    height: 100px;
  }

  .h1signin{
    font-family: Silkscreen;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.3333333432674408px;
    text-align: left;
    padding-top: -100px;
  }
  .h2signin{
    font-size: medium;
  }

  .logo-inicio{
    width: 70%;
  }
  .login-container {
    flex-direction: column;
    height: 720px;
    width: 80%;
  }
  .copyright{
    color: #60265B;
    padding-top: 0%;
  }

  .section-credentials {
    width: 100%;
  }

  .logo-container {
    margin-top: 20px;
    width: 80%;
  }

  .welcome-text {
    width: 80%;
  }
  .welcome-text span {
    font-size: 35px;
  }

  .type-username {
    width: 80%;
  }

  .box {
    height: 30px;
    width: 30px;
  }

  .favorite-color {
    align-items: flex-start;
    width: 80%;
  }

  .text-favorite-color {
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 10px;
    letter-spacing: -0.333333px;
  }
}

/* NAV */
.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
}

.contain-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0 20px;
  width: 400px;
}

.image {
  height: 25px;
  width: 90px;
}

.photo {
  border-radius: 50px;
  border: 5px solid;
  cursor: pointer;
  height: 55px;
  width: 55px;
  margin-top: -15px;
}

.logo-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40px;
}

.text-nav,
.text-nav span {
  font-family: Silkscreen;
  font-size: 10px;
  margin-right: 2px;
}

.text-nav {
  color: #f50d5a;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-nav span {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .contain-nav {
    width: 330px;
  }

  .photo {
    margin-left: 38px;
  }
  .photo-profile{
    margin-left: 0;
  }
}


/* HOME */
.home{
  background-color: #2E132C;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.logoutbtn{
  height: 25px;
  width: 110px;
  margin-left: 60%;
  border-radius: 0px;
  background: #F50D5A;
  font-family: Silkscreen;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* NAV */
.nav{
  background-color: #150714;
}

/* Tweet List */
.container-tweet-list{
  background-color: #150714;
  color: white;
}
.container-tweet-list {
  position: relative;
}

.tweet-container {
  align-items: center;
  border-bottom: 2px solid #60265b;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  width: 400px;
  height: 60%;
}

.post-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-name-date {
  align-items: center;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  width: 340px;
}

.flex-row {
  display: flex;
}
.user-name {
  align-items: center;
  border-bottom-left-radius: 2px;
  display: flex;
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  height: 20px;
  min-width: 130px;
  letter-spacing: -0.333334px;
  margin: auto;
  padding: 5px;
  color: #150714;
}

.date {
  margin: auto;
  margin-left: 10px;
  font-family: Silkscreen;
  font-size: small;
}

.image-profile {
  display: flex;
  margin-bottom: auto;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.photo-profile {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.tweet-post {
  font-size: 12px;
  width: 340px;
  line-height: 18px;
  word-wrap: break-Word;
}

.trush-svg {
  align-items: center;
  background-color: rgba(0, 128, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  width: 25px;
}

.trush-svg,
.like,
.unlike {
  cursor: pointer;
}

.likes-container {
  display: flex;
  margin-right: auto;
  width: auto;
}

.like-svg {
  background-color: inherit;
  border: none;
  padding: 0;
  outline: none;
}

.like-svg .like,
.like-svg .unlike {
  outline: none;
  display: flex;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.likes-container p {
  margin-left: 0px;
  font-size: 10px;
}

.favorite {
  color: #f50d5a;
}

.cursor {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .tweet-container {
    width: 320px;
  }
  .user-name-date,
  .tweet-post {
    width: 250px;
  }
}

/* SECCION DE CREACION DE TWEET */
.createtweet{
  background-color: #150714;
  color: #FFFFFF;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alltext{
  width: 60%;
}
.createtextarea{
  width: 60%;
  height: 120px;
  background-color: #2E132C;
  color: wheat;
}
.profileheader{
  border-radius: 50%;
  height: 80px;
  position: absolute;
  left: 400px;
  top: 60px;

}
.block{
  cursor: not-allowed;
  color: rgb(204, 186, 186);
}



.textarea{
  margin-top: 30px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Code', monospace;
}
progress{
  background: #00DA76;
  animation-timing-function: ease;
}
.postbtn{
  display: flex;
  justify-content: flex-end;
  padding-right: 220px;
}
.block, .ok{
  width: 85px;
  height: 30px;
  font-family: Silkscreen;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.3333333432674408px;
  text-align: center;

}
.ok{
  background-color: #00DA76
}

/* SECCION DE TWEETS */
.tweet{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: white;
}
.profile{
  border: 20px;
  border-color: aqua;
  border-radius: 50%;
  width: 60px;
  height: 60px;

}
.continfo{
  width: 90%;
  margin-bottom: 0%;
}
.username{
  background-color: rgb(70, 243, 35);
  border-radius: 0px 8px  0px 8px;
}
.tweetheader, .tweetheaderleftside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tweetheaderleftside{
  margin-left: -50px;
}

.tweetText{
  min-height: 75px;
  height: max-content;
  width: 90%;
  border-radius: nullpx;
  font-family: Fira Code;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 18px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;
  padding-left: 20px;
}
.fav, .bin{
  background-color: none;
  background-image: none;
  background: none;
  color: #FFFFFF;
  border: none;
}
.fav{
  display: flex;
  padding-left: 20px;
}
.bin{
  width: 28px;
}

/* Seccion Profile */
.backtofeed{
  font-family: 'Silkscreen';
  cursor: pointer;
}

.logoprofile{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 4%;
  text-align: center;
  align-items: center;
}
.profile-pic{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.profilephoto{
  width: 100px;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  padding-top: 5px;
}

.profilebuttonarea{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profilebtn{
  height: 46px;
  width: 302.5px;
  background: #60265B;
  color: white;
  cursor: pointer;
  font-family: 'Silkscreen';
}
.profilebtn:hover{
  background-color: rgb(248, 248, 232);
  color: #150714;
}